.cardFront {
  position: relative;
  width: 447px;
  height: 245px;
}

.cardFront > * {
  position: absolute;
}

.cardLogo{
  left: 5%;
  top:10%;
}

.cardNumber {
  top: 58%;
  left: 5%;
  color: var(--white);
  letter-spacing: 9px;
  font-size: 1.4rem;
  font-weight: bold;
}

.cardName {
  top: 80%;
  left:5%;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.cardDate {
   right: 7%;
   top: 80%;
   font-size: 0.8rem;
   color: var(--white);
   letter-spacing: 3px;
}
