.cardFront {
  position: relative;
  width: 310px;
  height: 170px;
}

.cardFront > * {
  position: absolute;
}

.cardLogo {
  top: 10%;
  transform: scale(0.5);
}

.cardNumber {
  top: 58%;
  left: 5%;
  color: var(--white);
  letter-spacing: 9px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cardName {
  top: 80%;
  left: 5%;
  color: var(--white);
  font-size: 0.5rem;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cardDate {
  right: 7%;
  top: 80%;
  font-size: 0.5rem;
  color: var(--white);
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cardBackground {
  width: 100%;
  height: 100%;
}

.cardBackground img {
  width: 100%;
}

@media (min-width: 1440px) {
  .cardLogo {
    left: 5%;
    top: 10%;
    transform: scale(1);
  }

  .cardFront {
    width: 447px;
    height: 245px;
  }

  .cardNumber {
    font-size: 1.4rem;
  }

  .cardName {
    font-size: 0.8rem;
  }

  .cardDate {
    font-size: 0.8rem;
  }
}
